################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LLVM360/x64/Debug
/x64
*.xex
/out
/runtime/Runtime/.vs/Runtime
/runtime/Runtime/Runtime/x64/Debug
/runtime/Runtime/x64/Debug
*.exe
*.dll
/runtime/Runtime/.vs
