################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LLVM360/x64/Debug
/x64
*.xex
/llvm-19.1.5